<header class="fixed w-full z-20 top-0 start-0">
    <nav class="bg-gray-50 border-b border-default w-full">
      <div class="max-w-screen-xl flex flex-wrap items-center justify-start mx-auto p-4">
        <a routerLink="/landing" class="flex items-center gap-3 rtl:space-x-reverse me-6 group">
            <div class="relative flex items-center justify-center w-10 h-10 bg-primary/10 rounded-lg group-hover:bg-primary group-hover:text-white transition-all duration-300">
                <svg class="w-6 h-6 text-primary group-hover:text-white transition-colors duration-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.03v13m0-13c-2.819-.831-4.715-1.076-8.029-1.023A.99.99 0 0 0 3 6v11c0 .563.466 1.014 1.03 1.007 3.122-.043 5.018.212 7.97 1.023m0-13c2.819-.831 4.715-1.076 8.029-1.023A.99.99 0 0 1 21 6v11c0 .563-.466 1.014-1.03 1.007-3.122-.043-5.018.212-7.97 1.023"/>
                </svg>
            </div>
            <span class="self-center text-2xl font-bold whitespace-nowrap text-primary group-hover:text-primary transition-colors duration-300">E-<span class="text-primary group-hover:text-gray-900 transition-colors duration-300">Learning</span></span>
        </a>
        
        <div class="flex items-center gap-2 md:order-2 ms-auto  me-3 rtl:space-x-reverse">
             <button  [ngClass]="{'text-secondary': translate.languageSignal() === 'en', 'text-primary': translate.languageSignal() !== 'en'}" (click)="switchLanguage('en')" class="text-sm font-medium hover:text-secondary cursor-pointer">{{ 'NAVBAR.LANG_EN' | translate }}</button>
            <span class="text-primary">|</span>
            <button [ngClass]="{'text-secondary': translate.languageSignal() === 'ar', 'text-primary': translate.languageSignal() !== 'ar'}" (click)="switchLanguage('ar')" class="text-sm font-medium hover:text-secondary cursor-pointer">{{ 'NAVBAR.LANG_AR' | translate }}</button>
        </div>
    
        <div class="flex items-center md:order-2 gap-3 rtl:space-x-reverse">
          <!-- Desktop Buttons -->
          <div class="hidden md:flex gap-3">
            @if (isLogin() === false) {
             <button   type="button" (click)="logout()" class="bg-primary text-white hover:bg-primary hover:text-whit box-border border border-primary focus:ring-4 focus:ring-secondary/50 shadow-xs font-medium leading-5 rounded-base text-sm px-5 py-2 focus:outline-none transition-colors ease-in-out duration-300 hover:scale-105 cursor-pointer ">{{ 'NAVBAR.LOGOUT' | translate}}</button>
            } @else {
             <button routerLink="/register"  type="button" class=" bg-primary text-white hover:bg-primary hover:text-white box-border border border-primary focus:ring-4 focus:ring-secondary/50 shadow-xs font-medium leading-5 rounded-base text-sm px-5 py-2 focus:outline-none transition-colors ease-in-out duration-300 hover:scale-105 cursor-pointer ">{{ 'NAVBAR.SIGNUP' | translate}}</button>
            }
          </div>
          <!-- Mobile menu button -->
          <button data-collapse-toggle="navbar-user" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-base md:hidden hover:bg-gray-100 hover:text-black focus:outline-none focus:ring-2 focus:ring-gray-200   cursor-pointer" aria-controls="navbar-user" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/></svg>
          </button>
        </div>
        
        <!-- Main hidden menu -->
         <!-- @if (isLoggedIn()===true) { -->
        <div class="items-center  justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
          <ul class="font-medium flex flex-col md:items-center p-0 md:p-0 mt-4  bg-gray-50 md:flex-row md:space-x-4 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-gray-50">
            
             <li class="dropdown w-full md:w-auto border-b border-gray-300 md:border-0"
                (mouseenter)="openQuestions()"
                (mouseleave)="closeQuestions()">
              <a routerLink="/questions" routerLinkActive="active" class="block text-lg py-2 px-3 text-primary rounded hover:text-secondary md:hover:bg-transparent md:border-0 md:p-0">{{ 'NAVBAR.TESTBANK' | translate }}</a>
              <div class="dropdown-mini" *ngIf="showQuestionsSelector()">
                <app-questions  [mini]="true" ></app-questions>
              </div>
            </li>
             <li class="dropdown w-full md:w-auto border-b border-gray-300 md:border-0"
                (mouseenter)="openFreeTrial()"
                (mouseleave)="closeFreeTrial()">
              <a routerLink="/free-trail" routerLinkActive="active" class="block text-lg py-2 px-3 text-primary rounded hover:text-secondary md:hover:bg-transparent md:border-0 md:p-0">{{ 'NAVBAR.FREE-TRAIL' | translate }}</a>
              <div class="dropdown-mini" *ngIf="showFreeTrialSelector()">
                <app-free-trail  [minii]="true" ></app-free-trail>
              </div>
            </li>
          
             <li class="w-full md:w-auto border-b border-gray-300 md:border-0">
              <a routerLink="/courses" routerLinkActive="active" class="block text-lg py-2 px-3 text-primary rounded hover:text-secondary md:hover:bg-transparent md:border-0 md:p-0">{{ 'NAVBAR.COURSES' | translate }}</a>
            </li>
           <li class="w-full md:w-auto border-b border-gray-300 md:border-0"> 
            <a routerLink="/scopa" routerLinkActive="active" class="block text-lg py-2 px-3 text-primary rounded hover:text-secondary md:hover:bg-transparent md:border-0 md:p-0">{{ 'NAVBAR.SOCPA Certificate' | translate }}</a>
          </li> 

          
            <li class="w-full md:w-auto border-b border-gray-300 md:border-0">
              <a routerLink="/articles"  routerLinkActive="active" class="block text-lg py-2 px-3 text-primary rounded hover:text-secondary md:hover:bg-transparent md:border-0 md:p-0">{{ 'NAVBAR.ARTICLES' | translate }}</a>
            </li>
            
             @if (isAdmin()) {
             <li class="w-full md:w-auto border-b border-gray-300 md:border-0">
            <a routerLink="/dashboard" routerLinkActive="active" class="block text-lg py-2 px-3 text-primary rounded hover:text-secondary md:hover:bg-transparent md:border-0 md:p-0">{{ 'NAVBAR.DASHBOARD' | translate }}</a>
          </li>
          }
            <li class="w-full md:w-auto border-b border-gray-300 md:border-0">
              <a routerLink="/who-are" routerLinkActive="active" class="block text-lg py-2 px-3 text-primary rounded hover:text-secondary md:hover:bg-transparent md:border-0 md:p-0">{{ 'NAVBAR.WHO_WE_ARE' | translate }}</a>
            </li>
            <!-- Mobile buttons only -->
            <li class="flex flex-col gap-2 p-4 w-full md:w-auto md:mt-0 md:hidden">
              @if (isLogin() === false) {
             <button   type="button" (click)="logout()" class="bg-primary text-white hover:bg-primary hover:text-white box-border border border-primary focus:ring-4 focus:ring-secondary/50 shadow-xs font-medium leading-5 rounded-base text-sm px-5 py-2 focus:outline-none transition-colors ease-in-out duration-300 hover:scale-105 cursor-pointer ">{{ 'NAVBAR.LOGOUT' | translate}}</button>
}
@else {
                        <button routerLink="/register"  type="button" class="bg-primary text-white hover:bg-primary hover:text-white box-border border border-primary focus:ring-4 focus:ring-secondary/50 shadow-xs font-medium leading-5 rounded-base text-sm px-5 py-2 focus:outline-none transition-colors ease-in-out duration-300 hover:scale-105 cursor-pointer ">{{ 'NAVBAR.SIGNUP' | translate}}</button>
}
            </li>
            
           

          </ul>
        </div>
      <!-- } -->
      </div>
    </nav>
    
    <!-- Marquee Strip -->
     @if (isLoggedIn()===true) {
    <div class="bg-primary text-white py-2 w-full overflow-hidden marquee-container">
        <div class="marquee-content whitespace-nowrap">
            <span>{{ 'NAVBAR.MARQUEE_TEXT' | translate }}</span>
        </div>
    </div>
    }
</header>

