/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@import "primeicons/primeicons.css";
 
@theme "default" {
    --color-primary: #003764;
    --color-secondary: #FF6A00;
    --color-surface: #ffffff;
    --radius-base: 0.375rem; 
}

body {
    background-color: white;
    color: black;
}


html {
  scroll-behavior: smooth;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

html::-webkit-scrollbar {
  display: none;
}



@media print {
    @page {
        size: landscape;
        margin: 0mm;
    }
    
    /* Hide everything by default */
    body * {
        visibility: hidden;
    }

    /* Only show the certificate and its children */
    #certificate-container, #certificate-container * {
        visibility: visible;
    }

    /* Position the certificate to fill the page, but respect aspect ratio */
    #certificate-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh; /* Force exact fit */
        margin: 0;
        padding: 0;
        border: none !important;
        box-shadow: none !important;
        z-index: 9999;
        background-color: white;
        overflow: hidden; 
        page-break-after: always; 
        page-break-inside: avoid;
        
        /* Layout to center */
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Ensure styles print */
    * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
}
